body{
background: #121c74;
background: -moz-linear-gradient(-45deg, #746c83 0%, #6385ac 42%, #4c5d92 100%);
background: -webkit-linear-gradient(-45deg, #7AA495 0%, #507caf 42%, #515A75 100%);
background: linear-gradient(135deg, #7AA495 0%, #40648d 42%, #515A75 100%);
}
section{
    display: grid;
    grid-template-areas: 
    ". a a b"
    "c d d b"
    "e e e b";
    row-gap: 2rem;
    column-gap: 2rem;
}
.a{grid-area: a;}
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}
.e{grid-area: e;}

div{
    background-color: antiquewhite;
    border-radius: 2rem;
    font-size: 4rem;
    padding: 2rem;
    border: 4px dotted red;
}