body{
    background-color: antiquewhite;
}

h1{
    color: white;
}

@font-face{
    font-family: 'Ljubav';
    src: url('../fonts/LavishlyYours-Regular.ttf') format('truetype');

}
@font-face{
    font-family: 'Galada';
    src: url('../fonts/Galada-Regular.ttf') format('truetype');
}


h1{
    font-family: 'Galada', 'Times New Roman', serif;
}