:root{
    /* Ovo je varijabla koja sadrži vrijednost boje*/
    --primarna-boja: #2c3e50;
    --naglašena-boja: #e67e22;
    --pozadina-svijetlo: #ecf0f1;
}
body{
    /* var je funkcija*/
background-color: var(--pozadina-svijetlo);
background-image: radial-gradient(circle, #205274,1px,transparent 1px);
background-size: 20px 20px;
background-repeat: repeat;
background-attachment: fixed;
}
.container{
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    inline-size: 90%;
    max-inline-size: 1000px;

    min-height: 100vh;
    min-block-size: 100vh;

    margin: 10px auto;
    background-color: rgb(255, 255, 255);

    box-sizing: border-box;
  
    
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--naglašena-boja);
    outline-offset: 10px;
}

section{
    border: 1px solid var(--primarna-boja);
    border-radius: 1rem; 
    margin: 10px;
    padding: 20px;

}